/build/kotlin/compileKotlin/build-history.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/.gradle/6.8/executionHistory/executionHistory.bin
/.gradle/6.8/executionHistory/executionHistory.lock
/.gradle/6.8/fileHashes/fileHashes.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/6.8/fileChanges/last-build.bin
/build/kotlin/compileKotlin/last-build.bin
/build/classes/kotlin/main/MainKt.class
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/kotlinc.xml
../build/kotlin/compileKotlin/
